body {
  font-family: "Montserrat", serif;
}

.card {
    border: 0;
}

.tasks-zones .div-task:first-child .border-top-tasks:first-child {
    border-top: none;
}

/* .tasks-zones .border-top-tasks {
    border-top: solid 3px #f0f0f0;
} */

input[type="color"] {
border-radius: 5px;
padding: 0;
border: 5px solid #DDD;
}
/* Substitui o outline padrão por uma borda personalizada */
:focus {
    outline: none;
}

input[type="color"]::-moz-color-swatch {
border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
padding: 0;
border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
border: none;
}

.bg-light {
    mix-blend-mode: normal;
    -webkit-backdrop-filter: blur(8px);
}

.card {
    mix-blend-mode: normal;
    -webkit-backdrop-filter: blur(8px);
    border-right: 0;
    margin: 10px;
    border: none !important;
    border-radius: 10px;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar {
    mix-blend-mode: normal;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: none !important;
}

.flatpickr {
    cursor: pointer;
}

body {
    overflow-x: hidden;
}


:root {
    --bs-app-sidebar-width: 335px;
    --bs-app-sidebar-width-actual: 335px;
    --bs-border-radius: 15px;
}

.modal {
    --bs-modal-width: 1250px;
}

[type="color"]{
    cursor: pointer;
    height: 44px;
}

.flatpickr {
    cursor: pointer;
}

.rounded-task-left {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
}

.rounded-task-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
}

@media (min-width: 992px){
    div, main, ol, pre, span, ul {
        scrollbar-width: thin;
    }
}
@media (min-width: 768px){
    .rounded-task-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .rounded-task-right {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.app-layout-builder-toggle {
    bottom: 20px;
    left: 30px !important;
}

.rounded {
    border-radius: 5px !important;
}

.rounded-sm {
    border-radius: 5px !important;
}

/* PROJECTS */

.separator-vertical {
    display: block;
    height: 50px;
    border-right: 1px dashed #00000052;
}

.rounded-start {
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.draggable {
    transition: all 0.5s ease;
}

.slide-up {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.color-task {
    transition: background-color 0.3s ease;
}

.task-icons {
    transition: all 0.2s;
    width: 45px;
}

.task-icons:hover {
    width: 145px;
    border-radius: 15px !important;
}

.sub-task-icons {
    transition: all 0.2s;
    width: 40px;
}

.sub-task-icons:hover {
    width: 125px;
    border-radius: 15px !important;
}

.modal-backdrop.show, .bg-blur {
    opacity: 1;
}

.image-limited {
    max-width: 100px;
    width: 100%;
    height: auto;
}

p:last-child {
    margin-bottom: 0;
}

.comment-ajax img {
    width: 100%;
    border-radius: 10px;
}

.ck-tiny .ck-content {
    min-height: 125px;
    height: 125px;
}

.ck-tiny .ck-content figure {
    width: 250px;
}

.draggable-projects-zone > .menu-accordion:last-child .separator {
    display: none;
}

.ck-tiny .ck-editor__top {
    display: none;
}

.ck-toolbar {
    border: none !important;
}

.z-index-9 {
    z-index: 9;
}

.ck-tiny .ck-balloon-panel {
    z-index: 99999 !important;
}

.ck-editor__editable.ck-rounded-corners {
    border: none !important;
}

.ck-tiny .ck-editor__editable.ck-rounded-corners {
    border-radius: 10px !important;
}

.placeholder-02::placeholder {
    font-weight: 400;
}

.opacity-0 {
    transition: all 0.2s;
}

.opacity-1:hover .opacity-0 {
    opacity: 1 !important;
}

.opacity-sub-0 {
    opacity: 0;
    transition: all 0.2s;
}

.opacity-sub-1:hover .opacity-sub-0 {
    opacity: 1 !important;
}

.odd:hover .opacity-0 {
    opacity: 1 !important;
}

.show-image-div img {
    cursor: pointer;
}

.image img {
    width: 100%;
}

.show-image-div img {
    transition: all 0.2s;
    cursor: pointer;
}

.show-image-div img:hover {
    scale: 1.03;
    transform: rotate(2deg);
}

.zoom-hover {
    transition: all 0.2s;
    z-index: 9;
}

.zoom-hover-01:hover {
    scale: 1.1;
}

.zoom-hover-02:hover {
    scale: 1.2;
}

.zoom-hover-03:hover {
    scale: 1.3;
}

.toast {
    z-index: 99999;
}

input[type=text]:disabled {
    cursor: default;
}

.check-day {
    cursor: pointer;
    transition: all 0.2s;
}

.check-day:hover {
    margin-top: -5px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-style figure {
    text-align: center;
}

.list-style figure img {
    transition: all 0.2s;
    border-radius: 15px;
}

.list-style figure img:hover {
    scale: 1.05;
}

.list-style img {
    cursor: pointer;
}

.rotate {
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
  }

.rotate.rotate-90 {
    transform: rotate(90deg); /* Aplica a rotação de 90 graus quando a classe 'rotacionado' é adicionada */
}

.nav-line-tabs .nav-item .nav-link.active, .nav-line-tabs .nav-item .nav-link:hover:not(.disabled), .nav-line-tabs .nav-item.show .nav-link{
    border-bottom: 2px solid var(--bs-primary);
}

.background-dashboard {
    background-position: 0 0;
    animation: animationBgDashboard 500s linear infinite;
}

.table-odd-light tr:hover .form-check-input:not(:checked) {
    border: solid 1px #e9e9e9 !important;
}


@keyframes animationBgDashboard {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 3600px 0px;
    }

    100% {
        background-position: 0 0;
    }
}

.sub-transaction td {
    border-bottom: solid 1px rgba(235, 235, 235, 0.3);
}

.fc-event {
    overflow: hidden;
}

.fc-timegrid-slot {
    height: 1.5em !important;
}

.icons-table a {
    margin-left: 5px;
}


#toastr-container {
    bottom: 20px;
    right: 20px;
}


#results-comments figure img {
    max-height: 250px;
}


.fc .fc-daygrid-day-frame {
    height: 150px !important;
}

.comment-ajax {
    word-wrap: break-word; /* Quebra palavras longas */
    word-break: break-word; /* Adicional para navegadores mais antigos */
    overflow-wrap: break-word; /* Quebra em navegadores modernos */
    white-space: normal; /* Garante que o texto ocupe várias linhas */
}

.flatpickr-date {
    font-weight: 600;
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #222329 inset !important;
}

.bg-gray-200 {
    --bs-bg-rgb-color: var(--bs-gray-200-rgb);
}

.fc-event span {
    font-weight: 500;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar {
    background: linear-gradient(45deg, #080316, #4c1760);
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active {
    background-color: #1c1c214f;
}

.card {
    border-radius: 20px;
    margin: 0px;
}

.btn {
    border-radius: 12px;
}

.menu-rounded .menu-link {
    border-radius: 12px;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon .svg-icon, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon i {
    color: #9283a3;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-arrow:after {
    background-color: #b3b4b8;
}

[data-bs-theme="dark"] .app-header {
    background: #311240;
}

[data-bs-theme="dark"] .app-default, [data-bs-theme="dark"] body {
    background: #230e2f;
}

[data-bs-theme="dark"] .swal2-popup {
    background: #230e2f;
}

[data-bs-theme="dark"] .card {
    background: #1c0428;
}

[data-bs-theme="dark"] .form-select.form-select-solid, [data-bs-theme="dark"] .form-control.form-control-solid {
    background-color: #230e2f;
    border-color: #230e2f;
}

[data-bs-theme="dark"] .btn-color-muted {
    background: #230e2f !important;
}

[data-bs-theme="dark"] .btn-light {
    background: #170726 !important;
}

[data-bs-theme="dark"] .app-sidebar {
    background: linear-gradient(45deg, #270c34, #390f49);
    box-shadow: 10px 10px 30px rgb(0 0 0 / 5%);
}

[data-bs-theme="dark"] .table:not(.table-bordered).table-row-bordered tr {
    border-bottom-color: #230e2f;
}

[data-bs-theme="dark"] table.dataTable.border {
    border: 2px solid #230e2f !important;
}

[data-bs-theme="dark"] .menu-sub-dropdown {
    background-color: #230e2f;
}

[data-bs-theme="dark"] input[type="file"]::file-selector-button {
  background: #170726;      /* lado esquerdo */
}

[data-bs-theme="dark"] input[type="file"]::file-selector-button:hover {
  background: #170726;
}

/* Safari/Chrome antigo */
[data-bs-theme="dark"] input[type="file"]::-webkit-file-upload-button {
  background: #170726;
}

[data-bs-theme="dark"] .dropdown.show>.form-control.form-control-solid,
[data-bs-theme="dark"] .form-control.form-control-solid.active,
[data-bs-theme="dark"] .form-control.form-control-solid.focus,
[data-bs-theme="dark"] .form-control.form-control-solid:active,
[data-bs-theme="dark"] .form-control.form-control-solid:focus {
    background-color: #230e2f;
    border-color: #230e2f;
}

[data-bs-theme="dark"] .select2-container--bootstrap5.select2-container--focus:not(.select2-container--disabled) .form-select-solid,
[data-bs-theme="dark"] .select2-container--bootstrap5.select2-container--open:not(.select2-container--disabled) .form-select-solid {
    background-color: #230e2f;
    border-color: #230e2f;
}

[data-bs-theme="dark"] .select2-container--bootstrap5 .select2-dropdown {
    background-color: #251032;
}

[data-bs-theme="dark"] .select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--selected {
    background-color: #1c0428; 
}

[data-bs-theme="dark"] .select2-container--bootstrap5 .select2-dropdown .select2-results__option.select2-results__option--highlighted {
    background-color: #1c0428; 
}

[data-bs-theme="dark"] .select2-container--bootstrap5 .select2-dropdown .select2-search .select2-search__field {
    background-color: #1c0428; 
    border: 1px solid #1c0428;
}

[data-bs-theme="dark"] .select2-container--bootstrap5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    background-color: #1c0428; 
}

[data-bs-theme="dark"] .bg-light {
    background: #2c123b !important;
}

[data-bs-theme="dark"] .bg-dark {
    background-color: #230e2f !important;
}

.card {
    box-shadow: 3px 3px 20px #00000010;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #230e2f inset !important;
}

[data-bs-theme=dark] .btn.btn-secondary {
    background-color: #1e092d;
}

[data-bs-theme=dark] .fc .fc-daygrid-day.fc-day-today {
    background-color: #230a32;
}

[data-bs-theme=dark] .badge-light {
    color: #7c5f8b;
}